body {
	background-color: #fff;
	color: #222;
	font-family: Helvetica; 
	font-size: 14px;
	margin: 0;
	padding: 0;
	}
	
#container {
	background-color: #fff;
}
	
.toolbar {
	margin: 0;
	padding: 0;
	text-align: center;
	background: transparent url(../images/iphone_back.gif) repeat-x 0 0;
	width: 320px;
	height: 50px;
}
	
h1 {
	font-size: 24px;
	padding: 0;
	color: #000;
	text-shadow: #fff 0 1px 1px;
	text-align: center;
	margin: 0 auto;
	height: 50px;
	max-width: 280px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	line-height: 50px;
}
	
	h2 {
		padding: 0 5px;
	}
	
	p {
	margin: 0;
	padding: 0 10px;
}
	
	ul {
		list-style: none;
    padding: 0;
    border-bottom: 1px solid #999999;
	margin: 0;
}
	
	ul li {
	border-top: 1px solid #999999;
	height: 60px;
	width: 310px;
	padding: 0 5px;
}
	
	ul li a {
		background: url(iui_images/listArrow.png) no-repeat right center;
		padding-right: 20px;
		color: #222222;
		display: block;
		font-size: 17px;
		font-weight: bold;
		text-decoration: none;
	width: 290px;
	float: left;
	height: 60px;
}
	
	ul li a img {
	padding: 5px 5px 5px 0;
	float: left;
}
	
	.link_text {
		width: 230px;
	height: 60px;
	display: table-cell;
	vertical-align: middle;
}