body {
	background-color: #fff;
	color: #222;
	font-family: Helvetica; 
	font-size: 14px;
	margin: 0;
	padding: 0;
	}
	
	h1 {
		font-size: 20px;
		padding: 10px 0;
		margin: 0;
		text-align: center;
		text-shadow: 0px 1px 0px #fff;
	background: url(../images/iphone_back.gif) repeat-x 0 0;
}
	
	h2 {
		padding: 0 10px;
	}
	
	p {
	}
	
	ul {
		list-style: none;
    padding: 0;
    border-bottom: 1px solid #999999;
	}
	
	ul li {
	border-top: 1px solid #999999;
	height: 60px;
	width: 320px;
}
	
	ul li a {
		background: url(iui_images/listArrow.png) no-repeat right center;
		padding-right: 20px;
		color: #222222;
		display: block;
		font-size: 17px;
		font-weight: bold;
		text-decoration: none;
	width: 300px;
	float: left;
	height: 60px;
}
	
	ul li a img {
	padding: 5px;
	float: left;
}
	
	.link_text {
		width: 230px;
	height: 60px;
	display: table-cell;
	vertical-align: middle;
}