/* @override 
*/

#wave_container {
	width: 200px;
	height: 700px;
}

body {
}

.container {
	background-color: #fff;
}


#header {
	padding-top: 10px;
}

#left_column, #middle_column, #right_column {
}

#footer {
	height: 100px;
}

#logo {
	width: 346px;
	height: 45px;
	background: url(../images/gs_css_logo.png) no-repeat 0 0;
	display: block;
	text-indent: -9999px;
}
#logo:hover {
	background-position: 0 -45px;
}