<div class="toolbar"> 
      <h1 id="pageTitle">GabesStudio Projects</h1> 
  </div>
<ul> 
  <% @projects.each do |project| %>
  <li><%= link_to "#{project.title}", project_url(project), :target => '_self' %></li> 
  <% end -%>
</ul>