<% title "#{@page.header}" %>

<div class="span-14 last">
<h1><%= yield(:title) %></h1>

<% if @page.image? %>
<%= link_to image_tag(@page.image.url(:long)), page_path(@page) %>
  <%# image_tag @page.image.url(:long), :class => "long_image" %>
<% end -%>


<p><%= @page.pagetext  %></p>
<% if logged_in? %>
<%= link_to 'Edit', edit_page_path(@page) %>
<% end -%>

<%# wave_panel('googlewave.com!w+wM4R-prkD') %>

</div><!--span-14 last-->