<div id="middle_column" class="span-4">
  <ul id="tag_list">
  <% tag_cloud tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
    <li><%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %></li>
  <% end %>
  </ul>
</div><!--middle_column-->