<div id="content">
<div class="toolbar"> 
      <h1 id="pageTitle"><%= @project.title %></h1> 
</div>
<ul>
  <li><%= @project.text %></li>
  <li><%= link_to "#{@project.link}", "http://#{@project.link}", :target => "_self", :class => "external_link" %></li>
</ul>
    <h2>Gallery Images</h2>
  <ul>
        <% for gallery_image in @gallery_images %>
            <li><%= link_to image_tag(gallery_image.image.url(:small)), gallery_image_path(gallery_image) %></li>
        <% end %>
  </ul>
</div><!--content-->

